@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
}



footer {
    text-align: center;
    margin-top: 10px;
}

header .shopCard .item .delete-icon {
    color: #ca5252;
    float: right;
    position: relative;
    top: -40px;
    cursor: pointer;
    transition: color, transform 500ms ease;
}

.delete-icon:hover {
    color: #ff0004;
    transform: scale(1.5);
}

body {

    background: white;
    color: #222;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.wrapper {
    width: 1280px;
    margin: 50px auto;
}

header .logo {
    font-weight: 600;
    font-size: 20px;
}

header ul.nav {
    float: right;
    list-style: none;
}

header ul.nav li {
    display: inline;
    margin-left: 25px;
    cursor: pointer;
    transition: opacity 500ms ease;

}

header ul.nav li:hover {
    opacity: 0.3;
}

#shop-card-button {
    float: right;
    cursor: pointer;
    transition: color, transform 500ms ease;
}

#shop-card-button:hover {
    color: #dc3d3d;
    transform: scale(2);


}

.active {
    color: #dc3d3d;
    transform: scale(2);


}

header {
    position: relative;
}

header .shopCard .empty h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

header .shopCard {
    position: absolute;
    top: 30px;
    right: 0;
    width: 450px;
    background: greenyellow;
    -webkit-box-shadow: 4px 5px 7px 0 rgba(96, 96, 96, 1);
    -moz-box-shadow: 4px 5px 7px 0 rgba(96, 96, 96, 1);
    box-shadow: 4px 5px 7px 0 rgba(96, 96, 96, 1);
    z-index: 1000;
    padding: 20px 20px 0;
}

header .shopCard .item {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

header .shopCard .item img {
    width: 70px;
    float: left;
    margin-right: 20px;
}

header .shopCard .item h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

header .shopCard .item p {
    color: #797979;
    font-weight: 600;
}

header .presentation {
margin: 50px auto;
    background-size: cover;
    width: 1280px;
    height: 500px;
    background-blend-mode: multiply;
    background: url("./img/hai-tech.jpg") no-repeat center center;
    position: relative;

}

header .presentation:after {
    content: 'Лучший товары для вашего дома';
    position: absolute;
    top: 150px;
    left: 100px;
    width: 400px;
    font-size: 40px;
    font-weight: 600;
    color: white;
}

header .presentation:before {
    content: 'По низким ценам';
    position: absolute;
    top: 260px;
    left: 100px;
    width: 300px;
    font-size: 15px;
    font-weight: 300;
    color: white;
}

main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

main .item {
    width: 30%;
    margin-bottom: 50px;
    background: antiquewhite;
    overflow: hidden;
    position: relative;
    padding-bottom: 20px;
}

main .item img, .full-item  img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    transition: transform 500ms ease;
    height: 384px;
    cursor: pointer;
}

main h2, main p, main b, .full-item h2, .full-item p, .full-item b {
    margin: 10px 20px;
    color: #333;
}

main b, .full-item b {
    color: #5fa36a;
}


main .add-to-card, .full-item .add-to-card {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #ca5252;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    transition: transform 500ms ease;

}

main .add-to-card:hover,
.full-item .add-to-card:hover {
    transform: scale(1.5) translateY(-5px);
}


.categories div {
    display: inline-block;
    background: #f2f2f2;
    border-radius: 50px;
    padding: 10px 20px;
    margin-bottom: 25px;
    margin-right: 15px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 500ms ease;
}

.categories div:hover {
    border-color: silver;
    transform: scale(1.1);
}
.full-item{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    overflow: auto;

}
.full-item > div{
    width: 600px;
    position: relative;
    margin: 10% auto;
    padding: 40px 30px;
    background: #ffffff;
    border-radius: 9px;
}
.item img:hover{
    transform: scale(1.05);
}


header .shopCard .summa {
    float: left;
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}
.full-item-screen:hover{
    transform: scale(1.05);

}
.close-order{
    float: right;
    cursor: pointer;
}
